[submodule "extern/ns3-src"]
	path = extern/ns3-src
	url = https://gitlab.com/nsnam/ns-3-dev.git
[submodule "extern/nlohmann_json"]
	path = extern/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "extern/netanim"]
	path = extern/netanim
	url = https://gitlab.com/nsnam/netanim.git
[submodule "extern/netsimulyzer-ns3"]
	path = extern/netsimulyzer-ns3
	url = https://github.com/usnistgov/NetSimulyzer-ns3-module
[submodule "extern/netsimulyzer-gui"]
	path = extern/netsimulyzer-gui
	url = https://github.com/usnistgov/NetSimulyzer
